<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsMigrationUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GACUSMT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <WindowsMigrationUtility.Properties.Settings>
            <setting name="USMTConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="USMT1" serializeAs="String">
                <value />
            </setting>
            <setting name="USMT2" serializeAs="String">
                <value />
            </setting>
            <setting name="USMT3" serializeAs="String">
                <value />
            </setting>
            <setting name="USMT4" serializeAs="String">
                <value />
            </setting>
            <setting name="CASESetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USMTConfigSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptureCMDCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureCMDCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreCMDCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestoreCMDCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanStateSyntax" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadStateSyntax" serializeAs="String">
                <value />
            </setting>
            <setting name="HardLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Create" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsMigrationUtility.Properties.Settings>
        <GACUSMT.Properties.Settings>
            <setting name="USMTConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="USMT1" serializeAs="String">
                <value />
            </setting>
            <setting name="USMT2" serializeAs="String">
                <value />
            </setting>
            <setting name="USMT3" serializeAs="String">
                <value />
            </setting>
            <setting name="USMT4" serializeAs="String">
                <value />
            </setting>
            <setting name="CASESetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USMTConfigSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptureCMDCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureCMDCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreCMDCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestoreCMDCommand" serializeAs="String">
                <value />
            </setting>
        </GACUSMT.Properties.Settings>
    </userSettings>
</configuration>
